.home {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(237.34deg, #606062 17.05%, #4A4A4A 86.94%);
}

.grid {
    padding-top: 9em;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.profContain {
    padding: 1rem 0 0 8rem;
}

.textoInicio {
    font-family: 'Poppins';
    color: #FFCDAF;
    font-size: 2rem;
    line-height: 46px;
}

.estudiar {
    background-color: #35BBF4;
    color: #fff;
    width: 282px;
    height: 104px;
    border-radius: 8px;
    font-size: 2rem;
    border: none;
    margin: 0 1rem 0 8rem;
    cursor: pointer;
}

.clase {
    background-color: #F47D35;
    color: #fff;
    width: 282px;
    height: 104px;
    border-radius: 8px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.icon {
    margin-right: 1rem;
}