.card p {
    margin: 0.25rem 0 0.25rem 0;
    color:  #B6B6B6;
}

.card {
    background-color: #FFF;
    width: 720px;
    height: 426px;
    box-sizing: border-box;
    border: 1px solid #F0EBE6;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nombre {
    font-size: 24px;
    line-height: 25px;
    color: #666;
    font-weight: 700;
}

.materia {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #F47D35 !important;
}

.foto {
    width: 84px;
    height: 84px;
    border-radius: 50%;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.datosContain {
    display: flex;
    padding: 44px 0 30px 30px;
}

.bio {
    padding: 0 32px 30px 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:  #B6B6B6;
}

.priceContain {
    background: #FAFAFC;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    padding: 23px 0;
    justify-content: space-around;
    align-items: center;
}

.priceContain p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.priceContain p span {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #606062;
}

.contacto {
    padding: 0 0.5rem 0 0.7rem;
}

.btn {
    display: flex;
    align-items: center;
}

@media screen and (max-width:450px) {
    .card {
        width: 350px;
        height: 426px;
    }
}